/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1550px) {
.container, .uslugi, .index_info, .our_works, .wrapp_form{
	max-width: 1200px;
}
.logo {
    width: 376px;
}
.logo img {
    width: 100%;
    display: block
}
.phone a {
    font-size: 20px;
    margin-right: 24px;
}
.phone_ico {
    margin-right: 5px;
}
.nav li a {
    font-size: 19.4px;
    margin-right: 35px;
}
.banner p{
    font-size: 20px;
    width: 600px;
}
.index_info p {
    font-size: 20px;
}
.banner h1 {
    font-size: 50px;
    letter-spacing: -4.1px;
}
.big_title{
	font-size: 29px;
}
.banner h1 {
    font-size: 50px;
}
.slide {
    padding-bottom: 160px;
}
.uslugi .item {
    width: 367px;
    padding: 50px 40px 60px;
}
.btn_hover, input.btn_hover {
    width: 282px;
}
.wrapp_our_works .title {
    width: 372px;
    height: 135px;
}
.wrapp_our_works .item {
    width: 31%;
    height: auto;
}
.wrapp_our_works .item img {
    border: none;
    display: block;
    width: 100%;
}
.form .label input {
    width: 47%;
}
.wrapp_our_works a {
    font-size: 16px;
    bottom: 10px;
}
.wrapp_our_works a:after {
    font-size: 17px;
    margin-top: 4px;
}
.form form {
    width: 600px;
}
.form p, .form a {
    font-size: 20px;
    line-height: 37px;
}
::-webkit-input-placeholder {color:#443927;
  font-size: 18px;}
::-moz-placeholder          {color:#443927;
  font-size: 18px;}/* Firefox 19+ */
:-moz-placeholder           {color:#443927;
  font-size: 18px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#443927;
  font-size: 18px;}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
.container, .uslugi, .index_info, .our_works, .wrapp_form{
	max-width: 830px;
}
.logo {
    width: 220px;
    margin-right: 44px;
}
.phone_ico{
  font-size: 29px;
  -moz-transform: matrix( 0.61736266403473,0,0,0.61697629713477,0,0);
  -webkit-transform: matrix( 0.61736266403473,0,0,0.61697629713477,0,0);
  -ms-transform: matrix( 0.61736266403473,0,0,0.61697629713477,0,0);
}
.phone{
	padding-top: 0;
}
.phone a {
  font-size: 16px;
}
.slide .img img {
    width: 100% !important;
}
.slide .img {
    width: 400px;
}
.banner p {
    width: 500px;
}
.banner h1 {
    font-size: 40px;
}
.bg_line {
    top: 200px;
    height: 130px;
}
.uslugi .item .item_img {
    height: 130px;
    margin-bottom: 30px;
}
.uslugi img {
    width: 60px;
}
.uslugi .item {
    width: 270px;
    padding: 15px;
}
.uslugi .item .sub_title{
  font-size: 18px;  
    height:25px;
    margin-bottom: 15px;
}
.uslugi .item .text {
    font-size: 14.667px;
}
.btn_hover, input.btn_hover {
    width: 234px;
    height: 50px;
    line-height: 47px;
}
.wrapp_our_works .item {
    width: 48%;
}
.wrapp_our_works .title {
    width: 100%;
    height: 135px;
}
.form form {
    width: 50%;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
.container, .uslugi, .index_info, .our_works, .wrapp_form{
	max-width: 600px;
}
.uslugi .item {
    width: 300px;
    margin-bottom: 30px;
}
.uslugi .container {
    flex-direction: column;
    align-items: center;
}
.uslugi .item .title {
    margin-bottom: 10px;
}
.bg_line {
    top: 158px;
}
.uslugi .item .text {
    height: auto;
    margin-bottom: 23px;
}
.btn_hover, input.btn_hover {
    width: 100%;
}
.uslugi .item .item_img {
    background-image: url(../img/bg.jpg);
    margin: 0 -15px 30px;
}
.bg_line{
	display: none;
}
.form form {
    width: 100%;
}
.form {
    display: block;
}
.ico_mobile_menu {
    display: block;
    font-size: 30px;
    color: #fff;
    margin-top: 5px;
}
.nav {
    display: none;
    width: 100%;
    margin-left: -26px;
    padding: 20px;
    margin-top: 54px;
    background-color: #954848;
}
.logo {
    width: 350px;
    margin-right: 15px;
}
.banner .owl-carousel .owl-item img {
    display: none;
    width: auto;
}
.phone {
    padding-top: 0;
    display: none;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.container, .uslugi, .index_info, .our_works, .wrapp_form{
	max-width: 320px;
}
.top_head_container .container {
    display: block;
}
.logo {
    text-align: center;
    margin:15px 0 0;
}
.top_head_container{
	height: auto;
}
.soc_ico{
	text-align: center;
	width: 100%;
	margin: 10px 0;
}
.soc_ico a {
    display: inline-block;
}
.banner p {
    width: 100%;
}
.banner p {
    width: 100%;
}
.form p{
	margin-left: 10px;
	font-size: 14px;
}
.form label{
	margin-right: 30px;
}
.form .label {
    display: block;
    justify-content: space-between;
}
.form .label input {
    width: 100%;
}
.wrapp_our_works .item {
    width: 100%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}