h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    outline: none !important;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    height: 100%;
}
img {
    border: none;
}
input {
    padding-right: 10px;
}
textarea {
    padding-top: 14px;
    resize: none;
}
body input:focus:required:invalid,body textarea:focus:required:invalid {
    border: red 3px solid
}

body input:required:valid,body textarea:required:valid {
    border: green 3px solid
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    background: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100%;
    line-height: 1.3;
}
.wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.container {
    min-width: 200px;
    max-width: 1518px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.top_head_container {
    height: 80px;
    background-color: #5c5c5c;
}
.top_head_container .container {
    justify-content: space-between;
}
.phone {
    display: flex;
    align-items: center;
    padding-top: 11px;
}
.left,
.right {
    display: flex;
    align-items: center;
}
.right {
    padding-top: 5px;
    padding-right: 3px;
}
.logo {
    margin-right: 77px;
}
.phone_ico {
    font-size: 29px;
    color: rgb(255, 255, 255);
    margin-right: 23px;
}
.phone a {
    font-size: 27px;
    color: rgb(255, 255, 255);
    line-height: 1;
    font-weight: 600;
    -moz-transform: matrix( 0.89377547038258, 0, 0, 0.89377547038258, 0, 0);
    -ms-transform: matrix( 0.89377547038258, 0, 0, 0.89377547038258, 0, 0);
    margin-right: 61px;
    padding-top: 3px;
}
.soc_ico a {
    font-size: 25px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-left: 13px;
}
.menu {
    height: 54px;
    background-color: #954848;
}
.nav {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav li a {
    font-size: 25.4px;
    color: #fff;
    text-align: center;
    margin-right: 55px;
}
.nav li a:hover {
    color: #dcdcdc;
    text-decoration: none;
}
.wrapp_uslugi {
    position: relative;
}
.bg_line {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    height: 220px;
    width: 100%;
    position: absolute;
    top: 250px;
    z-index: 1;
}
.ico_mobile_menu {
    display: none;
    font-size: 30px;
    color: #fff;
    margin-top: 5px;
}
.header {
    position: relative;
    z-index: 2;
}
.content {
    padding: 0 0 95px;
}
.banner {
    background: #fff url(../img/bg-map.jpg) no-repeat;
    display: block;
    margin-top: -97px;
    position: relative;
    background-size: cover;
    z-index: 1;
    padding-top: 88px;
    margin-bottom: 62px;
}
.banner .owl-carousel .owl-item img {
    display: block;
    width: auto;
}
.slide .img img {
    display: block;
}
.slide .img {
    position: absolute;
    right: 0;
    display: block;
    top: 149px;
}
.slide {
    padding-bottom: 85px;
    padding-top: 50px;
}
.banner h1 {
    font-size: 53px;
    color: rgb(42, 42, 42);
    text-shadow: 0px 9px 46.06px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    margin-bottom: 17px;
}
.banner p {
    font-size: 29.503px;
    color: rgb(68, 68, 68);
    margin-bottom: 57px;
    line-height: 1.714;
    width: 992px;
}
.btn {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 95deg, rgb(149, 72, 72) 0%, rgb(245, 108, 108) 100%);
    background-image: -webkit-linear-gradient( 95deg, rgb(149, 72, 72) 0%, rgb(245, 108, 108) 100%);
    background-image: -ms-linear-gradient( 95deg, rgb(149, 72, 72) 0%, rgb(245, 108, 108) 100%);
    width: 295px;
    height: 66px;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    font-size: 21px;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    line-height: 66px;
}
.btn:hover {
    background-image: -moz-linear-gradient( 95deg, rgb(245, 108, 108) 100%, rgb(149, 72, 72) 0%);
    background-image: -webkit-linear-gradient( 95deg, rgb(245, 108, 108) 100%, rgb(149, 72, 72) 0%);
    background-image: -ms-linear-gradient( 95deg, rgb(245, 108, 108) 100%, rgb(149, 72, 72) 0%);
    color: rgb(255, 255, 255);
}
.owl-prev {
    position: absolute;
    top: 50%;
    left: -55px;
    margin-top: -46px;
}
.owl-next {
    position: absolute;
    top: 50%;
    right: -55px;
    margin-top: -46px;
}
.owl-prev:before {
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 71px;
    color: rgb(79, 78, 78);
    display: block;
}
.owl-next:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 71px;
    color: rgb(79, 78, 78);
    display: block;
}
.owl-dots {
    border-radius: 20px 20px 0 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    text-align: center;
    width: 288px;
    height: 58px;
    justify-content: center;
    margin-left: -144px;
    align-items: center;
    display: flex;
}
.owl-dot {
    width: 22px;
    border-radius: 50%;
    height: 22px;
    display: block;
    background-color: #595959 !important;
    margin: 0 6px;
}
.owl-dot.active,
.owl-dot:hover {
    background-color: #9e4949 !important;
}
.big_title {
    font-size: 41.667px;
    color: rgb(181, 90, 90);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 50px;
    font-weight: 500;
}
.wrapp_item {
    justify-content: space-between;
    display: flex;
}
.uslugi .item {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(191, 191, 191);
    border-radius: 10px;
    background-color: rgba(149, 0, 0, 0);
    width: 443px;
    height: auto;
    display: block;
    padding: 50px 70px 60px;
}
.uslugi .item .title {
    font-size: 34px;
    color: rgb(62, 62, 62);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 43px;
    font-weight: 500;
}
.uslugi .item .item_img {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 63px;
}
.uslugi .item .sub_title {
    font-size: 25px;
    color: rgb(62, 62, 62);
    text-align: center;
    margin-bottom: 45px;
    display: block;
    font-weight: 500;
    height: 64px;
}
.uslugi .item .text {
    font-size: 20.667px;
    color: rgb(107, 107, 107);
    text-align: center;
    margin-bottom: 50px;
    line-height: 2;
    height: 164px;
    overflow: hidden;
}
.btn_hover,
input.btn_hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 0, 0);
    border-radius: 10px;
    background-color: rgba(185, 185, 185, 0);
    display: block;
    text-align: center;
    line-height: 95px;
    width: 305px;
    height: 93px;
    font-size: 21px;
    color: #950000;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}
.btn_hover:hover,
input.btn_hover:hover,
.btn_form:hover {
    background-color: #950000;
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}
.uslugi {
    min-width: 200px;
    max-width: 1518px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    margin-bottom: 66px;
}
.index_info p {
    font-size: 27.667px;
    color: rgb(107, 107, 107);
    font-weight: 500;
    line-height: 1.8;
}
.index_info,
.our_works,
.wrapp_form {
    min-width: 200px;
    max-width: 1518px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.index_info .big_title {
    margin-bottom: 32px;
}
.wrapp_our_works {
    display: flex;
    margin-bottom: -9px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapp_our_works .item {
    width: 480px;
    height: 301px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 35px;
}
.wrapp_our_works .title {
    background-image: url(../img/bg_title.png);
    width: 480px;
    height: 170px;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -170px;
    display: flex;
    z-index: 5;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.wrapp_our_works .item:hover .title {
    -webkit-transform: translate(0, -170px);
    -moz-transform: translate(0, -170px);
    -o-transform: translate(0, -170px);
}
.wrapp_our_works a {
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    bottom: 15px;
}
.wrapp_our_works a:after {
    content: "\f0a9";
    display: block;
    font-size: 25px;
    font-family: "FontAwesome";
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
}
.wrapp_our_works a:hover:after {
    text-decoration: none;
}
.form {
    display: flex;
    padding-top: 0;
    margin-top: 0;
}
.form form {
    width: 746px;
    margin-right: 123px;
}
.contacts {
    padding-top: 34px;
}
.contacts a {
    font-size: 25px;
    color: rgb(68, 57, 39);
}
.form input {
    border: none;
    border-bottom: 4px solid #ae5151;
    height: 50px;
    width: 100%;
    background-color: transparent;
    margin-bottom: 65px;
}
.form .label {
    display: flex;
    justify-content: space-between;
}
.form .label input {
    width: 358px;
}
input {
    color: #443927;
    font-size: 18px;
}
.form input[type="radio"] {
    border: none;
    height: auto;
    width: auto;
    color: #443927;
    font-size: 25px;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: #443927;
    font-size: 25px;
}
.form label {
    display: flex;
    justify-content: start;
    margin-right: 71px;
}
.radio {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}
.form p {
    font-size: 25px;
    margin-left: 30px;
    color: rgb(68, 57, 39);
}
.jq-radio {
    top: -1px;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    margin: 0 4px 0 0;
    border: 2px solid rgb(174, 81, 81);
    border-radius: 10px;
    background: transparent;
    background: -webkit-linear-gradient(#FFF, #fff);
    background: linear-gradient(#FFF, #fff);
    box-shadow: none;
    cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
    border-radius: 10px;
    background: transparent;
    box-shadow: none;
    margin: -10px 0 0 2px;
    background-image: url(../img/check.png);
    width: 37px;
    height: 35px;
}
.radio {
    margin-bottom: 75px;
}
.btn_form {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 0, 0);
    border-radius: 10px;
    background-color: rgba(185, 185, 185, 0);
    width: 240px;
    height: 73px;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    font-size: 21px;
    color: #950000;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
}
.footer {
    margin: -95px auto 0;
    background-image: url(../img/bg.jpg);
    height: 95px;
    position: relative;
}
.copyright {
    font-size: 22px;
    color: rgb(255, 254, 254);
    line-height: 98px;
    text-align: center;
}
